.wrap {
    background-color: red;
    color: white;
    width: 100%;
    height: auto;
}

#comic {
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

#right-align {
    text-align: center;
}

#comic-button {
    border-radius: 80%;
    font-size: 120%;
    width: 40%;
    height: 25%;
}

#comic-button:hover {
    color: rgb(221, 168, 168);
    background-color: rgb(69, 69, 71);

}

#header {
    background-image: url("https://i.pinimg.com/originals/5e/4a/f3/5e4af39a086deda0b76a3d3f3fc00fb7.jpg");
    background-size: 100%;
    color: white;
    width: 100%;
    height: auto;
}

#content {
    color: rgb(216, 216, 224);
}

.navbar-nav {
    text-decoration: none;
    color: white;
}

#link {
    color: white;
}

#link:active {
    background-color: silver;
    color: black;
}

.item {
    color: white;
}

.item:active {
    background-color: silver;
    color: black;
}