html {
    background-image: "https://i.pinimg.com/originals/5e/4a/f3/5e4af39a086deda0b76a3d3f3fc00fb7.jpg";
}

#comic {
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

#right-align {
    text-align: center;
}

#comic-button {
    border-radius: 80%;
    font-size: 40px;
    width: 350px;
    height: 100px;
}

#comic-button:hover {
    color: rgb(221, 168, 168);
    background-color: rgb(69, 69, 71);

}